.header {
	text-align: center;
	width: 100%;
	height: auto;
}

.img {
	height: 100%;
	width: 100%;
}

.cover {
	object-fit: cover;
}

.contain {
	object-fit: contain;
}
.textCabecera {
	color: #fff;
}
