@import "./resetNormalize.css";

/* a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	color: #fff;
	font-size: 5em;
	line-height: 1.1;
}
.h2 {
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	color: #fef5ac;
	font-size: 1.5em;
}
.h3 {
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	color: #fef5ac;
	font-size: 1.5em;
}
.p {
	display: flex;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	color: #fef5ac;
	font-size: 1.5em;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

*/
