.h2 {
	padding: 50px;
	color: #5ce1e6;
	margin: 50px;
	width: 100%;
	font-size: 4em;
	margin: 0;
}

.titulo {
	font-size: 2em;
	width: 100%;
	padding: 40px;
	/*background: rgb(241, 239, 239); */
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

summary {
	background: linear-gradient(to left, #5ce1e6, #21a9f8);
	color: white;
	padding: 20px;
	cursor: pointer;
	font-weight: bold;
}
.p {
	font-size: 1em;
	padding: 10px;
	background: white;
	color: rgb(61, 61, 61);
}
