/*.container {
	margin: 0 auto;
	width: 90%;
	height: auto;
	background-color: #222;
	border: medium solid #000;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.p {
	padding: 20px;
	margin: 20px;
	color: red;
}
*/

.container {
	margin: 0 auto;
	width: 100%;
	height: auto;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	justify-items: center;
}

.h2 {
	padding: 10px;
	color: #5ce1e6;
	margin: 10px;
	width: 100%;
	font-size: 4em;
	margin: 0;
}
.p {
	text-align: justify;
	padding: 10px;
	margin: 10px;
	font-size: 1.5em;
	color: rgb(255, 255, 255);
}
.contrato {
	text-align: center;
	padding: 10px;
	margin: 20px;
	font-size: 0.9em;
	color: #f0f5f5;
}
.img {
	width: 100%;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
}
.logo {
	display: grid;
	justify-content: center;
	width: 70%;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
}
