.section {
	margin: 0px;
	padding: 0px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.encabezado {
	font-size: 2rem;
	margin: 20px;
	padding: 10px;
	color: #fff;
	margin: 0 auto;
	width: 90%;
	display: grid;
	justify-content: center;
}

.container {
	margin: 0 auto;
	width: 90%;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.h2 {
	font-size: 5em;
	margin: 0;
	padding: 0;
}
.p {
	text-align: justify;
	padding: 0;
	margin: 0;
	font-size: 1em;
	color: rgb(250, 249, 249);
}
.item {
	padding: 1rem;
	font-size: 1.25rem;
}

.gridAlign {
	padding: 20px;
	margin: 20px;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	filter: drop-shadow(0 0 0.75rem #5ce1e6);
}
.imgForma1 {
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	filter: drop-shadow(0 0 10.75rem rgb(252, 249, 249));
}
.imgForma2 {
	clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.imgForma3 {
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
	filter: drop-shadow(0 0 0.75rem rgb(252, 249, 249));
}

.imgContainer {
	width: 80%;
	padding: 10px;
	margin: 10px;
	border-radius: 20px 20px 20px 20px;
}
